/* Fondo de la sección */
.register-account {
    background: url(http://cdn.paper4pc.com/images/grunge-texture-wallpaper-5.jpg) no-repeat center top;
    background-size: cover;
    padding: 200px 0 150px;
    width: auto;
}

/* Login Form CSS */
.login-form input {
    width: 100%;
    border: 1px solid #dddddd;
    padding: 0.7em;
    margin: 0.6em 0;
    border-radius: 0;
    margin-bottom: 15px;
}

.login-form {
    margin-bottom: 30px;
}

/* Contenedor del formulario */
.signform {
    background-color: #FFF;
    padding-bottom: 40px;
    padding-top: 35px;
    margin: 0 auto;
    margin-top: auto;
}

.bts {
    padding: 2em;
    margin: 0.6em 0;
}

/* Estilos generales para enlaces */
.bts-a:hover {
    color: #79b42b;
    text-decoration: none;
    background: white;   
}

.bts span {
    text-align: center; 
    font-size: .9em;
    font-family: 'Arimo', sans-serif;
    font-weight: 700;
}

.social {
    transition: background 200ms ease-in-out;
    margin-top: 12px;
    border-radius: 1px;
    display: block;
    color: #ffffff;
    height: 50px;
    line-height: 50px;
    width: 100%;
    text-decoration: none;
    text-align: center;
}

/* Facebook Button */
.fblogin {   
    background-color: #3b5898;  
}
.fblogin:hover {
    background-color: #5177c2;
}
.fblogin:active {
    position: relative;
    top: 1px;
}

/* Google Button */
.gplogin {  
    background-color: #dd4c39; 
}
.gplogin:hover {
    background-color: #f06e60;
}
.gplogin:active {
    position: relative;
    top: 1px;
}

/* Twitter Button */
.twlogin { 
    background-color: #00abee;  
}
.twlogin:hover {
    background-color: #4cbde6;
}
.twlogin:active {
    position: relative;
    top: 1px;
}

/* Input Focus */
.login-form input:focus, .login-form input:active {
    border-bottom: 2px solid #79B42B;
    outline: none;
}

/* Submit Button */
.subbt {
    background-color: #79b42b;
    border: none;
    color: #FFF;
    padding: 10px 15px;
    margin-top: 10px;
    cursor: pointer;
    font-size: .9em;
    border-radius: 3px;
    width: 218px;
    font-family: 'Arimo', sans-serif;
    font-weight: 700;
}

.subbt:hover {
    background-color: #6aa324;
}

/* Link estilo general */
.right a {
    color: #b6b6b6;
    text-decoration: none;
    font-family: 'Arimo', sans-serif;
    font-size: .9em;
    float: right;
    margin-top: 5px;
}

.headit h4 {
    color: #474646;
}

/* Estilos del botón de registro */
.bts-a {
    background-color: #f1c40f; /* Color amarillo */
    color: #fff;
    font-size: 0.9em;
    padding: 10px 20px;
    border-radius: 3px;
    text-align: center;
    display: inline-block;
    margin-top: 10px;
    cursor: pointer;
    transition: background-color 200ms ease-in-out;
    float: right; /* Para mantener su posición original */
    margin-right: 35px; /* Asegurando que no se superponga */
    text-decoration: none;
}

.bts-a:hover {
    background-color: #d4ac0d; /* Amarillo más oscuro en hover */
    color: white;
}

/* Ajuste de los demás botones (Facebook, Twitter, Google) */
.bts {
    padding: 2em;
    margin: 0.6em 0;
    margin-top: 10px; /* Para que haya un poco más de espacio */
}

/* Para mantener el layout como estaba */
.left, .right {
    display: inline-block;
    vertical-align: top;
    width: 45%; /* Mantiene el tamaño sin modificar todo */
}

.signform {
    background-color: #FFF;
    padding-bottom: 40px;
    padding-top: 35px;
    margin: 0 auto;
    width: 70%; /* Ajuste de ancho */
}

/* Formulario de login */
.login-form input {
    width: 100%;
    border: 1px solid #dddddd;
    padding: 0.7em;
    margin: 0.6em 0;
    border-radius: 0;
    margin-bottom: 15px;
}

.subbt {
    background-color: #79b42b;
    color: #FFF;
    padding: 10px 15px;
    border-radius: 3px;
    font-family: 'Arimo', sans-serif;
    font-weight: 700;
    cursor: pointer;
    width: 100%; /* Ajuste de ancho al 100% */
}

/* Media queries para pantallas pequeñas */
@media screen and (max-width: 640px) {
    .left, .right {
        width: 100%; /* Cada sección en línea completa */
        margin-bottom: 25px;
    }

    .signform {
        width: 90%; /* Ancho ajustado para pantallas pequeñas */
    }
}


@media screen and (max-width: 1400px) and (min-width: 1230px) {
    .signform {
        width: 50%;
        left: 25%;
    }
}

@media screen and (max-width: 1230px) and (min-width: 1000px) {
    .signform {
        width: 60%;
        left: 15%;
    }
}

@media screen and (max-width: 1000px) and (min-width: 900px) {
    .signform {
        width: 70%;
        left: 10%;
    }
}

@media screen and (max-width: 900px) and (min-width: 750px) {
    .signform {
        width: 80%;
        left: 8%;
    }
}

@media screen and (max-width: 750px) and (min-width: 640px) {
    .signform {
        width: 90%;
        left: 1%;
    }
}

@media screen and (min-width: 640px) {
    .left {
        width: 47%;
        display: inline-table;
        margin-left: 20px;
        float: right;
    }
    .right {
        width: 40%;
        display: inline-table;
        margin-left: 50px;
    }
}

@media screen and (max-width: 640px) {
    .left {
        width: 100%;
        display: inline-table;
        margin-bottom: 25px;
    }
    .right {
        width: 85%;
        display: inline-table;
        margin-left: 20px;
    }
    .signform {
        width: 50%;
        min-width: 255px;
    }
}

/* Íconos de redes sociales */
.bts i {
    margin: 15px 15px 15px 20px;
    float: left;
    width: 5%;
    font-size: 20px;
    margin-left: 20px;
}
